<label>
	ID:
	<input type="text" [formControl]="idF">
</label>
<br>
<button (click)="getEmployeeById()">Search</button>
<br>
<div *ngIf="employee">
	<ul>
		<li><b>ID:</b>{{ employee.id }}</li>
		<li><b>Name:</b>{{ employee.name }}</li>
		<li><b>Role:</b>{{ employee.role }}</li>
	</ul>
	<button (click)="getEmployeeOrders()">Show Orders</button>
	<div *ngIf="orders">
		<div *ngFor="let ord of orders">
			<ul>
				<li><b>ID:</b> {{ ord.id }}</li>
				<li><b>Name:</b> {{ ord.description }}</li>
				<li><b>Status:</b> {{ ord.status }}</li>
			</ul>

			<button *ngIf="ord.status == 'IN_PROGRESS'" (click)="completeOrder(ord.id)">Complete</button>
			<button *ngIf="ord.status == 'IN_PROGRESS'" (click)="cancelOrder(ord.id)">Cancel</button>
		</div>
	</div>
</div>